<div>

	<h2>Maç Sonuçları</h2>
	@if(currentWeekScores.length){

	<p-table [value]="currentWeekScores" [tableStyle]="{ 'width': '100%' }" [styleClass]="'p-datatable-sm'">
		<ng-template pTemplate="header" >
			<tr>
				<th colspan="3" style="text-align: center;">STSL {{week}}. Hafta Maç Sonuçları</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-score>
			<tr>
				<td>{{ score.home.name }}</td>
				<td>{{ score.homeGoals + ' - ' + score.awayGoals }}</td>
				<td>{{ score.away.name }}</td>
			</tr>
		</ng-template>
	</p-table>

	}@else {
		<div>
			<app-no-data [message]="'Henüz lig başlamadı.'"></app-no-data>
		</div>
	}
</div>