<div>
	<h2>Puan Durumu</h2>
	<p-table [value]="pointsTable" [tableStyle]="{ 'width': '100%' }" [styleClass]="'p-datatable-sm'">
		<ng-template pTemplate="header">
			<tr>
				<th>Takımlar</th>
				<th>P</th>
				<th>O</th>
				<th>G</th>
				<th>B</th>
				<th>M</th>
				<th>AG</th>
				<th>YG</th>
				<th>Av.</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-team>
			<tr [ngClass]="{'cant-be-champion': !team.canBeChampion}">
				<td>{{ team.name }}</td>
				<td>{{ team.points }}</td>
				<td>{{ team.gamesPlayed }}</td>
				<td>{{ team.wins }}</td>
				<td>{{ team.draws }}</td>
				<td>{{ team.losses }}</td>
				<td>{{ team.goals }}</td>
				<td>{{ team.goalsAgainst }}</td>
				<td>{{ team.goalDifference }}</td>
			</tr>
		</ng-template>
	</p-table>

</div>